/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
  font-family: 'Baskerville', serif;
  color: rgba(111,127,122, 75%);
  font-size: 5em;
  font-weight: lighter;
}

h2 {
  font-family: 'Baskerville', serif;
  color: rgb(111,127,122);
  font-size: 2em;
  font-weight: normal;
}

img{
  border-color: rgb(111,127,122);
  border-style: solid;
  border-width: 3px
}

#press img {
  display: inline-block;
  width: 24%;
}

footer {
  text-align: right;
}